/* A stab at a mobile/responsive css - keepin' it simple, we hope */

.cyoa_wrapper {
    /*The easiest way to set colored background that clears all the floats, center the thing etc.*/
    background: black url(http://hr.uoregon.edu/sites/all/themes/hr2newsflash/images/uologo.gif) top left no-repeat;
	  clear: both;
    content: "";
    width: 100%;
    /* set max-width here to contain slides. */
    max-width: 700px;
    /*to center slideshow, if you like*/ 
    margin: 0 auto;
    /*Just in case*/
    overflow: hidden;
}

.cyoa_container {
  	margin: 30px auto 1.25em;
    padding: 0;
}

.cyoa_content {
    background:#CCC;
    text-align: center;
    position: relative; /*set up for absolute positioning*/
    /* if your images aren't the same height, do this to prevent different sizes from showing*/
    max-height: 660px;
    overflow-x:hidden;
    overflow-y:scroll;
}
.cyoa_content img {
    width: auto; 
}

.cyoa_page h2 {
    margin-bottom: 0;
}

.cyoa_page .cyoa_text {
    width: 96%;
    padding: 0 2% 2% 2%;
    text-align: left;
}

.cyoa_page p {
    position: absolute;
    width: 96%;
    padding: 2%;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: verdana;
    /*background: rgba(255,255,255,0.5);*/
}


.disabled {
    color: grey;
}

.cyoa_hide {
    display: none;
}
.cyoa_show {
    display: block;
}